*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

footer{
	margin-top: 37em;
}

@media screen and (max-width: 1080px){
	footer{
		margin-top: 72em;
	}
}

@media screen and (max-width: 768px){
	footer{
		margin-top: 80em;
	}
}

@media screen and (max-width: 768px){
	footer{
		margin-top: 90em;
	}
}